html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Avenir Next", sans-serif !important;
    background: #ebebeb;
}

h1 {
    font-family: "Avenir Next", sans-serif !important;
    font-size: 30px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #fff !important;
}

h2, h3, h4, h5 {
    font-family: "Avenir Next", sans-serif !important;
}

p {
    font-size: 16px;
}


a:link {
    text-decoration: none;
    color: #3674d8
}

a:visited {
    text-decoration: none;
    color: #3674d8
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

button {
    background-color: #36d887;
    border: none;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 1px solid #2bbc74;
    font-size: 1em;
    outline: none;
}

button:hover {
    background-color: #3de290;
}

button:active {
    background-color: #2dc67a;
}

.header {
  padding: 8px;
  text-align: center;
  background: #033C5A;
  color: white;
  font-size: 24px;
}

.main-container {
    margin: auto;
    max-width: 900px;
    padding: 20px;
}
