html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Avenir Next", sans-serif !important;
    background: #ebebeb;
}

h1, h2, h3, h4, h5 {
    font-family: "Avenir Next", sans-serif !important;
}

p {
    font-size: 16px;
}


a:link {
    text-decoration: none;
    color: #3674d8
}

a:visited {
    text-decoration: none;
    color: #3674d8
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.header {
  padding: 8px;
  text-align: center;
  background: #033C5A;
  color: white;
}

.header h1 {
  font-size: 64px;
}

.header p {
  font-size: 20px;
}

.linkbar {
  padding: 4px;
  text-align: center;
  background: #c8b18b;
  color: white;
}

.footer {
  padding: 8px;
  text-align: center;
  background: #033C5A;
  color: white;
}
